// Layout component
// ================
//
// This is the style for the layout block.

.caliopen-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.caliopen-layout__header {
    // This is required for the top bar not to cover the body
    // See http://getbootstrap.com/components/#navbar-fixed-top
    padding-top: 70px;
}
.caliopen-layout__main {
}
.caliopen-layout__footer {
}
