@contact-card-list-item-padding: 10px;
@contact-card-list-item-margin: 10px 10px 0 0;
@contact-card-list-item-border: @panel-inner-border;
@contact-card-list-item-order-radius: @panel-border-radius;

.co-contact-card-list {
  font-size: 0;
}
.co-contact-card-list__item {
  display: inline-block;

  padding: @contact-card-list-item-padding;
  margin: @contact-card-list-item-margin;
  border: 1px solid @contact-card-list-item-border;
  border-radius: @contact-card-list-item-order-radius;

  font-size: 1rem;
}
