// Main navigation
// ===============
//
// Main navigation is responsible for the main level navigation.
//
// It handles both navigation between applications and main level actions.
.co-nav-main {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    background: rgba(60, 60, 60, .8);
}
