// Layout component
// ================
//
// This is the style for the application layout.

$header-height:     60px;

$topbar-height:     60px;
$leftbar-width:     60px;

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/Open_Sans/opensans-regular-webfont.eot');
  src: url('fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'),
       url('fonts/Open_Sans/opensans-regular-webfont.ttf') format('truetype'),
       url('fonts/Open_Sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.caliopen-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.caliopen-layout__header {
}
  .caliopen-layout__header__navbar-img--brand {
    height: $line-height-computed;
  }

// Main container. This is not scrollable and takes the whole viewport
.caliopen-layout__main-container {
  position: relative;
  box-sizing: border-box;

  // This is required for the top bar not to cover the body
  // See http://getbootstrap.com/components/#navbar-fixed-top
  padding-top: $header-height;

  height: 100%;
  width: 100%;
}

  .caliopen-layout__block--importance {
    margin-top: 30px;

    & .noUi-vertical {
      height: calc( 100vh - #{$header-height} - 50px - #{$topbar-height} );
      margin: auto;
    }
  }

  @media (min-width: $screen-md-min) {
    .caliopen-layout__block--importance {
      width: 4%;
    }
  }

  @media (min-width: $screen-md-min) {
    .caliopen-layout__block--container {
      width: 96%;
    }
  }

  .caliopen-layout__tabs {
    margin-top: 22px;

    &.nav-tabs, &.nav-tabs li a, &.nav-tabs li.active a {
      border: none;
    }
    &.nav-tabs li a, &.nav-tabs li a:hover, &.nav-tabs li a:focus {
      background-color: $caliopen-color-2;
    }
  }

  .caliopen-layout__main-content {
    background-color: $caliopen-color-2;
    padding-top: 45px;
  }

.co-layout__privacy-slider, .co-layout__importance-slider {
  margin: 10px;
}
