<div class="co-nav-main-applications__application__title">
    <span class="co-nav-main-applications__application__title__content">
    {{yield}}
    </span>
</div>
{{co-icon icon=icon class="co-nav-main-applications__application__icon"}}
