<div class="circle"></div>
<div class="circle-inner">
  {{#each lettersClass as |letterClass|}}
    <i class="caliopen-threads__thread__contact-icon__letter {{letterClass}} {{iconClass}}"></i>
  {{/each}}
</div>
