
<div class="container-fluid">
    <div class="row">
        <nav class="col-xs-12 col-md-3 col-lg-2">
            <ul>
                <li>Inbox</li>
                <li>Drafts</li>
                <li>Sent mails</li>
            </ul>
        </nav>
        <div class="col-xs-12 col-md-9 col-lg-10">
            {{outlet}}
        </div>
    </div>
</div>
