{{#co-layout/application-wrapper
                                currentApplication="contacts"
                                refreshStores="refreshStores"
                                closeTab="closeTab"}}
  <div class="container-fluid">
    {{outlet}}
  </div>
{{/co-layout/application-wrapper}}
