{{#link-to currentAction.route
  classNames="btn btn-info btn-lg"
  title=(intl-get currentAction.text)}}
  {{co-widget/icon icon=currentAction.icon}}
  {{format-message (intl-get currentAction.text)}}
  <span class="sr-only">{{format-message (intl-get currentAction.text)}}</span>
{{/link-to}}
