<div class="co-nav-main-actions__action__title">
    <span class="co-nav-main-actions__action__title__content">
    {{yield}}
    </span>
</div>
{{co-icon icon=icon class="co-nav-main-actions__action__icon"}}
